   <div class ="panel panel-default post-panel">
            <div class="panel-body row">
                <div class="col-sm-1">
                  <img class="profile-img" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a3fa46375259c39d07d0227e8ade6daa&auto=format&fit=crop&w=500&q=60" class="rounded-img" height="50px" width="50px"></img>
                </div>
                  <div class="col-sm-11">
                       <%= form_for(@newPost) do |f| %>

   
                                    <center>
                   <div class="field" style="margin-left: 10px;">
                          
                          
                                <%= f.text_field :content, autofocus: true, class: "form-control" , placeholder: "whats on your mind?" %>
                                <span type="button" style="float: right; margin-top:3px;"><%= f.submit "Tweet", class: "btn btn-primary" %></span>
                      </div>



                       
                        
  
                       </center>
                   <% end %>

                </div>
               
    
            </div>
            
        </div>


